/***********************
  Home page
************************/
.sharp {
    border-radius: 0
}
 
#testBut {
    background-color: #FBECD5;
    border: 10px solid #ffffff;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 5%;
    height:64px;
}

#testBut:not(.no-hover):hover {
    color: #56527F;
    background-color: #FBECD5;
}
#testBut:not(.no-hover):active{
    color: #56527F;
    box-shadow: none;
}

#testBut[disabled] {
    cursor: default;
}

#submit {
	color: #1d1d1d;
	background-color: #fbecd5;
	border: none;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10%;
	margin-top: 5%;
}

#submit:hover {
	color: #56527f;
}

#arrows {
	text-align: center;
}

.homeHead {
	letter-spacing: 5px;
}

#yawnawayTitle {
	font-weight: 700;
}

#test {
	margin-top: 7.5%;
}

form {
	text-align: center;
}


form ul {
	margin-top: 2%;
}

form li {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 14%;
	margin-right: 17%;
	display: inline-block;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -5px;
    position: relative;
    background-color: #cbcbcb;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -5px;
    position: relative;
    background-color: #56527f;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.Option {
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

.Option2 {
	border-bottom: 1px solid #cbcbcb;
}

.itemDesc {
	text-align: justify;
}

.traitDesc {
	display: inline-block;
	text-align: justify;
}

.traitDesc li {
	padding-left: 16px;
}

.traitDesc li:before {
	content: "\e250";
	font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #56527f;
}

.leftDesc {
	position: relative;
	left: 6%;
}

.rightDesc {
	position: relative;
	left: 5%;
}

.descs {
	margin-bottom: 3%;
	margin-top: -3%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.leftDesc {
		position: relative;
		left: -10%;
        
	}

	.rightDesc {
		position: relative;
		left: 10%;

	}
	
	form li {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 30%;
		margin-right: 30;
		display: inline-block;
		position: relative;
		right: 10%;
        
	}

    .itemDesc {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
        display: block;
        position: relative;
        right: 15%;
        font-size: 15px;
        
    }
}

@media (max-width: 767px) {
	#submit {
		font-size: 3.5vw;
	}
	
	form li {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 20%;
		margin-right: 20%;
		display: inline-block;
		position: relative;
		right: 10%;
        
	}
	
	.itemDesc {
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: 0%;
		margin-right: 0%;
		display: block;
		position: relative;
		right: 15%;
        font-size: 10px;
        
	}
	
	.leftDesc {
		position: relative;
		left: -5%;
	}

	.rightDesc {
		position: relative;
		left: -5%;
	}
}

/***********************
  Logo
************************/

#logo {
    margin-top: 1%;

}

/***********************
  Result page
************************/

#typeIMG {
    margin-top: 3%;
    max-height: 150px;
}

#title1 {
    margin-top: 3%;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}



.listItems li {
    color: #56527F;
    list-style: disc;
    font-size: 120%;
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .listItems li {
        clear: left;
    }
    
}


.listItems li p {
   font-size: 18px;
    color: #1d1d1d;


}

ul .listItems{
    background-color: #FBECD5;
}

.bp li {
    list-style: none;

}


#desc {
    margin-top: 1%;
    text-align: center;
    font-size: 160%;
}

@media (min-width:768px) {
    #row1 {
        margin-top: 3%;
    }

    #row2 {
        margin-top: 5%;
    }
}    


li a img {
    max-width: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.listItems {
    line-height: 200%;

}

.resultIcon1 {
    float:left;
    margin-right: 30px;

}
/************************************************************************/
.resultIcons1 {
    line-height: 200%;
    visibility: hidden;
}


#item1:hover .resultIcons1 {
    visibility: visible;
}

/************************************************************************/


.resultIcons2 {
    line-height: 200%;
    visibility: hidden;
}


#item2:hover .resultIcons2 {
    visibility: visible;
}

/************************************************************************/

.resultIcons3 {
    line-height: 200%;
    visibility: hidden;
}


#item3:hover .resultIcons3 {
    visibility: visible;
}

/************************************************************************/

.resultIcons4 {
    line-height: 200%;
    visibility: hidden;
}


#item4:hover .resultIcons4 {
    visibility: visible;
}

/************************************************************************/

.resultIcons5 {
    line-height: 200%;
    visibility: hidden;
}


#item5:hover .resultIcons5 {
    visibility: visible;
}





/************************************************************************/

.resultIcons6 {
    line-height: 200%;
    visibility: hidden;
}


#item6:hover .resultIcons6 {
    visibility: visible;
}


/************************************************************************/

.resultIcons7 {
    line-height: 200%;
    visibility: hidden;
}


#item7:hover .resultIcons7 {
    visibility: visible;
}


/************************************************************************/

.resultIcons8 {
    line-height: 200%;
    visibility: hidden;
}


#item8:hover .resultIcons8 {
    visibility: visible;
}


/************************************************************************/

.resultIcons9 {
    line-height: 200%;
    visibility: hidden;
}


#item9:hover .resultIcons9 {
    visibility: visible;
}
@media (min-width: 768px) and (max-width: 991px) {
    .resultIcons9 {
        line-height: 150%;
    }
}


/************************************************************************/

.resultIcons10 {
    line-height: 200%;
    visibility: hidden;
}


#item10:hover .resultIcons10 {
    visibility: visible;
}



/************************************************************************/

.resultIcons11 {
    line-height: 200%;
    visibility: hidden;
}


#item11:hover .resultIcons11 {
    visibility: visible;
}

/************************************************************************/

.resultIcons12 {
    line-height: 200%;
    visibility: hidden;
}


#item12:hover .resultIcons12 {
    visibility: visible;
}

/************************************************************************/

.resultIcons13 {
    line-height: 200%;
    visibility: hidden;
}


#item13:hover .resultIcons13 {
    visibility: visible;
}


/************************************************************************/

.resultIcons14 {
    line-height: 200%;
    visibility: hidden;
}


#item14:hover .resultIcons14 {
    visibility: visible;
}


/************************************************************************/

.resultIcons15 {
    line-height: 200%;
    visibility: hidden;
}


#item15:hover .resultIcons15 {
    visibility: visible;
}


/************************************************************************/

.resultIcons16 {
    line-height: 200%;
    visibility: hidden;
}


#item16:hover .resultIcons16 {
    visibility: visible;
}


/************************************************************************/

.resultIcons17 {
    line-height: 200%;
    visibility: hidden;
}


#item17:hover .resultIcons17 {
    visibility: visible;
}


/************************************************************************/

.resultIcons18 {
    line-height: 200%;
    visibility: hidden;
}


#item18:hover .resultIcons18 {
    visibility: visible;
}


/************************************************************************/

.resultIcons19 {
    line-height: 200%;
    visibility: hidden;
}


#item19:hover .resultIcons19 {
    visibility: visible;
}


/************************************************************************/

.resultIcons20 {
    line-height: 200%;
    visibility: hidden;
}


#item20:hover .resultIcons20 {
    visibility: visible;
}




.typeName {
    margin-top: 7%;
    font-weight: bold;
    font-size: 140%;
    color: #1d1d1d;

}




/***********************
  footer
************************/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #1d1d1d;
}
.push {
  flex: 1;
}

#footHR {
    max-width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 5%;
}    
#footWrap {
    margin-bottom: 2%;
}    
.footBut {
    background-color: #FBECD5;
    color: #1d1d1d;
    font-weight: bold;
  }
 

@media (max-width: 767px) {
    #footHR {
        margin-right: 270px;
        width: 100%;
         }
     }
@media (min-width: 768px) and (max-width: 991px) {
    #footHR {
        width: 76%;
         }
     }

html,body {
    height:100.1%;

}

/***********************
  about
************************/     

#aboutTitle {
    margin-top: 5%;
}

#aboutContent {
    margin-top: 2%;
}


/***********************
  contact
************************/     

#ctIntro {
    margin-top: 5%;
    font-weight: bold;
    text-indent: 3%;

}

#ctForm {
    margin-top: 3%;
}
