/***********************
  Home page
************************/
.sharp {
    border-radius: 0
}
 
#testBut {
    background-color: #FBECD5;
    border: 10px solid #ffffff;
    color: #1d1d1d;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 5%;
    height:64px;
}

#testBut:not(.no-hover):hover {
    color: #56527F;
    background-color: #FBECD5;
}
#testBut:not(.no-hover):active{
    color: #56527F;
    box-shadow: none;
}

#testBut[disabled] {
    cursor: default;
}

#submit {
	color: #1d1d1d;
	background-color: #fbecd5;
	border: none;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10%;
	margin-top: 5%;
}

#submit:hover {
	color: #56527f;
}

#arrows {
	text-align: center;
}

.homeHead {
	letter-spacing: 5px;
}

#yawnawayTitle {
	font-weight: 700;
}

#test {
	margin-top: 7.5%;
}

form {
	text-align: center;
}


form ul {
	margin-top: 2%;
}

form li {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 14%;
	margin-right: 17%;
	display: inline-block;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -5px;
    position: relative;
    background-color: #cbcbcb;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -5px;
    position: relative;
    background-color: #56527f;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.Option {
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

.Option2 {
	border-bottom: 1px solid #cbcbcb;
}

.itemDesc {
	text-align: justify;
}

.traitDesc {
	display: inline-block;
	text-align: justify;
}

.traitDesc li {
	padding-left: 16px;
}

.traitDesc li:before {
	content: "\e250";
	font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #56527f;
}

.leftDesc {
	position: relative;
	left: 6%;
}

.rightDesc {
	position: relative;
	left: 5%;
}

.descs {
	margin-bottom: 3%;
	margin-top: -3%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.leftDesc {
		position: relative;
		left: -1%;
	}

	.rightDesc {
		position: relative;
		left: 3%;
	}
	
	form li {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 30%;
		margin-right: 30;
		display: inline-block;
		position: relative;
		right: 10%;
	}
}

@media (max-width: 767px) {
	#submit {
		font-size: 3.5vw;
	}
	
	form li {
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: 20%;
		margin-right: 20%;
		display: inline-block;
		position: relative;
		right: 10%;
        
	}
	
	.itemDesc {
		margin-top: 0%;
		margin-bottom: 0%;
		margin-left: 0%;
		margin-right: 0%;
		display: block;
		position: relative;
		right: 15%;
        font-size: 10px;
        
	}
	
	.leftDesc {
		position: relative;
		left: -5%;
	}

	.rightDesc {
		position: relative;
		left: -5%;
	}
}

/***********************
  Logo
************************/

#logo {
    margin-top: 1%;

}

/***********************
  Result page
************************/

#typeIMG {
    margin-top: 4%;
}

#title {
    margin-top: 5%;
    text-align: center;
}

#desc {
    margin-top: 1%;
    text-align: center;
}

@media (min-width:768px) {
    #row1 {
        margin-top: 3%;
    }

    #row2 {
        margin-top: 5%;
    }
}    




/***********************
  footer
************************/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.push {
  flex: 1;
}

#footHR {
    max-width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 5%;
}    
#footWrap {
    margin-bottom: 2%;
}    
.footBut {
    background-color: #FBECD5;
    color: #56527f;
    font-weight: bold;
  }
 

@media (max-width: 767px) {
    #footHR {
        margin-right: 270px;
        width: 100%;
         }
     }
@media (min-width: 768px) and (max-width: 991px) {
    #footHR {
        width: 76%;
         }
     }

html,body {
    height:100.1%;
}

/***********************
  about
************************/     

#aboutTitle {
    margin-top: 5%;
}

#aboutContent {
    margin-top: 2%;
}


/***********************
  contact
************************/     

#ctIntro {
    margin-top: 5%;
    font-weight: bold;
    text-indent: 3%;

}

#ctForm {
    margin-top: 3%;
}
