{% extends 'general/default.html' %}

{% block content %}
	<title>About us - Site name</title>

	<h1>About us</h1>
	<div>
		<p>Here at Site_name we try to help You discover something new depending on your personality. The little personality test we use is based on the Myers-Brigg Type Indicator (MBTI). It does not show how "good" you are or how skilled you are. It just shows something about the way you function. Using that we can try to present to you some entertainment you might like.</p>
	</div>
{% endblock %}	