<!DOCTYPE html>

<html lang="eng">

<head>
	
	<meta charset="utf-8"> <!--add info-->
	<meta name="description" content="desc">
	<meta name="author" content="Stanko Pavlić, Juraj Markešić">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'general/css/bootstrap.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'general/css/custom.css' %}" type = "text/css"/>
	<script src="https://use.fontawesome.com/f51f328b2f.js"></script>

</head>

<body>
	<img src="{% static 'general/img/logo-placeholder.jpg' %}" class="responsive-img text-center" alt="logo">
	<div>
		{% block content %}

		{% endblock %}
	</div>	

	<footer>

	</footer>

</body>
