{% extends 'general/default.html' %}

{% block content %}

<title> YAWNAWAY </title>

<script>
	var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
	
	function show (toBlock){
		setDisplay(toBlock, 'block');
	}
	  
	function setDisplay (target, str) {
		document.getElementById(target).style.display = str;
	}
	  
	function setText (target) {
		document.getElementById(target).textContent="CHOOSE SIDES"
	}

	function removeEffect (target) {
      document.getElementById(target).classList.add("no-hover");
      document.activeElement.blur();
      document.getElementById(target).setAttribute('disabled', 'disabled');
	}

</script>
<div class="container">
	<div class="row">
		<h3 id="title" class="homeHead col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2"><i id="yawnawayTitle">YAWNAWAY</i> is your solution to boredom!</h3>
	</div>
	<div class="row">	
		<p id="desc" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2"><i>Solve a simple personality test and discover something you might like!</i></p>
	</div>
	<div class="row">
		<button id="testBut" type="button" id="clickID" onclick="show('test'); setText('testBut'); removeEffect('testBut');" class="btn btn-primary btn-lg sharp col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">TAKE THE TEST</button>
		<div>
			<i id="arrows" class="glyphicon glyphicon-chevron-down col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3" aria-hidden="true"></i>	<i id="arrows" class="glyphicon glyphicon-chevron-down col-xs-2 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0" aria-hidden="true"></i>	<i id="arrows" class="glyphicon glyphicon-chevron-down col-xs-2 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0" aria-hidden="true"></i>
		</div>
	</div>
	<div class="row">
		<div id="test" style="display:none;" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
			<form name="form" action="" method="POST">
				{% csrf_token %}
			   
			   <div class="Option">
					
					{{ form.firstQ }}
					
					<div class="descs">
						<ul class="traitDesc leftDesc">
							<li class="itemDesc">Alpha af</li>
							<li class="itemDesc">OG</li>
							<li class="itemDesc">Look at me</li>
						</ul>
						
						<ul class="traitDesc rightDesc">
							<li class="itemDesc">Shy af</li>
							<li class="itemDesc">Wallflower</li>
							<li class="itemDesc">Y u looking at me</li>
						</ul>
					</div>
					
				</div>

				<div class="Option2">
					
					{{ form.secondQ }}
					
					<div class="descs">
						<ul class="traitDesc leftDesc">
							<li class="itemDesc">Alpha af</li>
							<li class="itemDesc">OG</li>
							<li class="itemDesc">Look at me</li>
						</ul>
						
						<ul class="traitDesc rightDesc">
							<li class="itemDesc">Shy af</li>
							<li class="itemDesc">Wallflower</li>
							<li class="itemDesc">Y u looking at me</li>
						</ul>
					</div>
					
				</div>
				
				<div class="Option2">
					
					{{ form.thirdQ }}
					
					<div class="descs">
						<ul class="traitDesc leftDesc">
							<li class="itemDesc">Alpha af</li>
							<li class="itemDesc">OG</li>
							<li class="itemDesc">Look at me</li>
						</ul>
						
						<ul class="traitDesc rightDesc">
							<li class="itemDesc">Shy af</li>
							<li class="itemDesc">Wallflower</li>
							<li class="itemDesc">Y u looking at me</li>
						</ul>
					</div>
					
				</div>
				
				<div class="Option2">
					
					{{ form.fourthQ }}
					
					<div class="descs">
						<ul class="traitDesc leftDesc">
							<li class="itemDesc">Alpha af</li>
							<li class="itemDesc">OG</li>
							<li class="itemDesc">Look at me</li>
						</ul>
						
						<ul class="traitDesc rightDesc">
							<li class="itemDesc">Shy af</li>
							<li class="itemDesc">Wallflower</li>
							<li class="itemDesc">Y u looking at me</li>
						</ul>
					</div>
					
				</div>
				
				<input id="submit" class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5" type="submit" value="SUBMIT">
			</form>
		</div>
	</div>
</div>
{% endblock %}	
