{% extends 'general/default.html' %}

{% block content %}

<title> YAWNAWAY </title>

<script>
	function show (toBlock){
		setDisplay(toBlock, 'block');
	}
	  
	function setDisplay (target, str) {
		document.getElementById(target).style.display = str;
	}
	  
	function setText (target) {
		document.getElementById(target).textContent="CHOOSE THE SIDE YOU FEEL CLOSER TO"
	}

	function removeAffect (target) {
      document.getElementById(target).classList.add("no-hover");
      document.activeElement.blur();
	}

</script>

<p>YAWNAWAY is your solution to boredom!</p>

<p>Solve a simple personality test and discover something you might like!</p>

<button id="testBut" type="button" id="clickID" onclick="show('test'); setText('testBut'); removeAffect('testBut');" class="btn btn-primary btn-lg sharp">TAKE THE TEST</button>

<div id="test" style="display:none;">
	<form name="form" action="" method="POST">
		{% csrf_token %}
	   
		{{ form.as_p }}
		
		<input type="submit" value="OK">
	</form>
</div>

<hr>

<p>About</p>
<p>Contact</p>

{% endblock %}	
